
@{
    ViewBag.Title = "Hatali";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hatali</h2>

        <p>İşlem sırasında hata oluştu. Hata detayı aşağıdadır.</p>
        @ViewBag.Hata


    </div>
</div>

